/*全局样式*/
@import "~@/style/var.less";
//
.popover-popover{
  padding: 0 !important;
  border: none !important;
}

// icon 
.icon-default{
  color: @icon-default;
}
.icon-active{
  color: @icon-active
}
